h1 {
    color: #8B0000;
    font-size: 75px;
}
p {
	color: #E9967A;
	font-size: 30px;
}
body {
    background: white url("images/background.jpg") no-repeat;
}
a {
	color: #8FBC8F;
	font-size: 25px;
}
form {
	font-size: 23px;
}