{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your orders
{% endblock %}
{% block content %}
<section id="hero" class="container">
    <header>
      <h2>You can see your past orders here</h2>
    </header>
   <p>And the time when they were placed</p>
</section>
</div>
</div>
				<div id="footer-wrapper">
					<div id="footer" class="container">
    <h1>Your orders</h1>
<body>
	<div>
        {% if orders %}
			<ul>
			{% for order in orders %}
                <li>Created: {{ order.created }}
                    Who placed it: {{ order.user }}
                    It costed: {{ order.get_total_cost }}
                    What was ordered: {{ order.orderitem.product.p_name }}</li><hr>
            {% endfor %}
			</ul>
		{% else %}
			<strong>You didn't place any orders</strong>
		{% endif %}

</body>
                                                                    </div>
                </div>
{% endblock %}