<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'shop/favicon.ico' %}" type="image/x-icon">
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/">My Shop</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="/">Categories</a>
										<ul>{% for category in allcategories %}
											<li><a href='/shop/category/{{ category.slug }}/'>{{ category.c_name }}</a></li>
											{% endfor %}
										</ul>
									</li>

									<li><a href="{% url 'cart' %}">My Cart</a></li>

                                    {% if user.is_authenticated %}
                                    <li  class="break"><a href="{% url 'orders:show_orders' %}">My Orders</a></li>
                                    {% else %}
                                    <li  class="break"><a href="/shop/register/">My Orders</a></li>
                                    {% endif %}

                                    <li>
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'orders:show_orders'%}">My Account</a>
                                        {% else %}
                                        <a href="{% url 'register' %}">My Account</a>
                                        {% endif %}
                                        <ul>
                                            <li><a href="/shop/register/">Create account</a></li>
                                            {% if user.is_authenticated %}
                                            <li><a href="{% url 'logout' %}"><i class="fa fa-user"></i> Logout</a></li>
                                            {% else %}
                                            <li><a href="/shop/login/"><i class="fa fa-user"></i> Login</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
								</ul>
							</nav>

					</div>

		<!-- Scripts -->
			<script src="{% static 'shop/jquery.min.js' %}"></script>
			<script src="{% static 'shop/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'shop/browser.min.js' %}"></script>
			<script src="{% static 'shop/breakpoints.min.js' %}"></script>
			<script src="{% static 'shop/util.js' %}"></script>
			<script src="{% static 'shop/main.js' %}"></script>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

                    <!-- Cart below everything -->
				<div id="promo-wrapper">
					<section id="promo">
                        {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                        <h2>Your cart:
                        <a href="{% url 'cart' %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                            ${{ cart.get_total_price }}</a></h2>
                        {% else %}
                        <h2>Your cart is empty</h2>
                        {% endif %}
                        {% endwith %}
						<a href="{% url 'cart' %}" class="button">Go to My Cart</a>
					</section>
				</div>
                </div>
    </div>
</body>
</html>