{% extends "shop/base.html" %}

{% block title %}Category{% endblock %}

{% block content %}
<body>
	<div>
	{% if category %}
		<h1>{{ category.c_name }}</h1>
		{% if products %}
			<ul>
			{% for product in products %}
                <li><a href='/shop/product/{{ product.slug }}/'>{{ product.p_name }}<br>
					Price: {{ product.p_price }}</a></li><hr>
            {% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</strong>
		{% endif %}
	{% else %}
		This specified category does not exist
	{% endif %}
	</div>

</body>
{% endblock %}