{% extends "shop/base.html" %}

{% block title %}Category{% endblock %}

{% block content %}

<section id="hero" class="container">
    <header>
        <h2>This page lists
        <br />
        all the {{ category.c_name }}</h2>
    </header>
</section>
</div>
</div>

			<!-- Features 1 -->
<div class="wrapper">
	<div class="container">
		<div class="row">
			{% for product in products %}
			<section class="col-6 col-12-narrower feature">
				<header>
					<h2>{{ product.p_name }}</h2>
					<h3>Price: {{ product.p_price }}</h3>
				</header>
				<p>{{ product.p_description }}</p>
				<ul class="actions">
					<a href='/shop/product/{{ product.slug }}/' class="button">Learn more about {{ product.p_name }} and see it<br></a>
				</ul>
			</section>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}