{% extends "shop/base.html" %}

{% block title %}Store{% endblock %}

{% block content %}
<body>

<h1> Categories </h1>

{% if allcategories %}
    <ul>
    {% for cat in allcategories %}
        <li><p><a href='/shop/category/{{ cat.slug }}/'>{{ cat.c_name }}</a></p></li><hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories in the store yet.</p>
{% endif %}

<a href="/shop/register/">Create account</a><br>
<a href="/shop/login/">Log in</a><br>
<a href="/shop/cart/">My cart</a>

</body>
{% endblock %}

