{% extends "shop/base.html" %}

{% block title %}MyShop{% endblock %}

{% block content %}

<section id="hero" class="container">
    <header>
        <h2>MyShop is the first website
        <br />
        that I've written using <a href='https://www.djangoproject.com'>Django Framework</a></h2>
    </header>
    <p>I hope it works</p>
    <ul class="actions">
        <li><a href="/shop/register/" class="button">Push this Big button to create a new account</a></li>
    </ul>
</section>
</div>
</div>

<!-- Features 1 -->
				<div class="wrapper">
					<div class="container">
						<div class="row">
                            {% for category in allcategories %}
							<section class="col-6 col-12-narrower feature">
								<header>
                                    <ul>
                                    <h2>{{ category.c_name }}</h2>
                                    </ul>
                                    </header>
								<p>You can buy some nice {{ category.c_name }} here <br>(No, you can't, but you can pretend that you're buying them)</p>
								<ul class="actions">
									<li><a href='/shop/category/{{ category.slug }}/' class="button">Buy {{ category.c_name }}</a></li>
								</ul>
							</section>
                            {% endfor %}
						</div>
					</div>
				</div>

{% endblock %}