{% extends "shop/base.html" %}

{% block title %}Product{% endblock %}
{% load static %}

{% block content %}
<section id="hero" class="container">
    <header>
        <h2>This page just shows you
        <br />
        the {{ product.p_name }} and tells you all I know about it</h2>
    </header>
</section>
</div>
</div>

<div class="wrapper">
					<section class="container">
						<header class="major">
							<h2>{{ product.p_name }}</h2>
							<p>Price: {{ product.p_price }}<br>Description: {{ product.p_description }}</p>
						</header>
						<div class="row features">
							<section class="col-4 col-12-narrower feature">
									<img src={{ product.image.url }} alt ='' width="350" height="300"/>
								<p>You definitely want to buy it</p>
							</section><br>
						<form action="{% url 'cart_add' product.id %}" method="post">
						{{ cart_product_form }}
						{% csrf_token %}
						<input type="submit" value="Add to cart">
						</form>
					</section>
				</div>
{% endblock %}