<!DOCTYPE html>
<html>
<head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}" />
	<title>Product</title>
</head>
<body>
	<div>
	{% if product %}
		<h1>{{ product.p_name }}</h1>
        <ul><p>Price: {{ product.p_price }}<br>Description: {{ product.p_description }}</p><br>
			<a href='/shop/category/{{ product.category.slug }}/'>{{ product.category.c_name }}</a></ul>
	{% else %}
		This specified product does not exist
	{% endif %}

	<form action="{% url 'cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
	</div>
	<div>
			<a href="/shop/">Main page</a><br />
    </div>
</body>
</html>